<h3>Certification Detail</h3>

@if (CurrentCertification is not null)
{
    <div class="detail-container bordeaux-background">
        <p>Name : @CurrentCertification.Name</p>
        <p>Authority : @CurrentCertification.Authority</p>
        <p>License Number : @CurrentCertification.LicenceNumber</p>
        <p>URL : @CurrentCertification.Url</p>
        <p>Date : @CurrentCertification.LicenceDate</p>
    </div>
}
else
{
    <p>Loading Certification details...</p>
}









































@* //Copyrite https://github.com/POLLESSI *@