@inherits ProjectDetail

<h3>Project Detail</h3>

@if (CurrentProject is not null)
{
    <p>Name : @CurrentProject.Name</p>
    <p>Description : @CurrentProject.Description</p>
    <p>Url : @CurrentProject.Url</p>
    <p>StartDate : @CurrentProject.StartDate</p>
    <p>EndDate : @CurrentProject.EndDate</p>
}
else
{
    <p>Loading Project details...</p>
}

@code {

}
