<h3>Education Detail</h3>

@if (CurrentEducation is not null)
{
    <div class="detail-container">
        <p>School : @CurrentEducation.School</p>
        <p>Degree : @CurrentEducation.Degree</p>
        <p>FieldOfStudy : @CurrentEducation.FieldOfStudy</p>
        <p>StartDate : @CurrentEducation.StartDate</p>
        <p>EndDate : @CurrentEducation.EndDate</p>
        <p>Description : @CurrentEducation.Description</p>
    </div> 
}
else
{
    <p>Loading Education details...</p>
}











































@* Copyrite https://github.com/POLLESSI *@